{% extends "bootstrap/base.html" %}

{% block title %}Courses{% endblock %}

{% block content %}

<div class="container">
    <div><h1>Courses</h1></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 offset-md-2 container-fluid">
            <h1>Courses with Model: {{ course_model }}</h1> <br/>
            <table class="table table-striped table-hover table-bordered align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th class="text-center">课程名称</th>
                        <th>课程学分</th>
                        <th>课程模块</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td class="text-center">{{ course.course_name }}</td>
                            <td>{{ course.credit }}</td>
                            <td>{{ course.course_model }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-center">
                            <a href="{{ url_for('course_page') }}" class="btn btn-primary">返回</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
