<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index_page</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/自定义样式/index.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">课程信息系统</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/regist">注册账号</a></li>
                  <li><a href="/login">登陆账号</a></li>
                  <li><a href="/test">test</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">选课信息系统</h1>
            <p class="lead">中国人民大学选课信息查询系统</p>
            <p class="lead">
              <a href="/course_page" class="btn btn-lg btn-default">浏览信息资源管理学院专业核心课程信息</a>
            </p>
            <p>
              <a href="/courses_group" class="btn btn-lg btn-primary">浏览选课课程信息</a></a>
            </p>
            <p>
              <a href="/major_page" class="btn btn-lg btn-default">浏览专业培养方案</a></a>
            </p>
          </div>

          <!-- 页脚 -->
          <div class="mastfoot">
            <!-- <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
            </div> -->
          </div>

        </div>
      </div>

    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
